
.grocery-li h1{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.grocery-list{
  background-color: green;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  padding: 20px 30px;
  text-align: center;
}
.grocery-list h4{
  padding-right: 40px;
  /* text-align: center; */
}

.grocery-li h2{
  text-align: center;
}

